<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arbiter.droid.icebreakerprot1">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="IceBreaker">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateProfileActivity"
            android:label="Create Profile" />
        <activity
            android:name=".IndexActivity"
            android:label="Pubs"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arbiter.droid.icebreakerprot1.LoginActivity" />
        </activity>
        <activity
            android:name=".PubViewActivity"
            android:label="@string/title_activity_pub_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChatActivity"
            android:label="Chat">
            <intent-filter>
                <action android:name="CHAT_MSG_OPEN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UsersViewActivity"
            android:label="Users in Location" />
        <activity
            android:name=".ViewProfileActivity"
            android:label="@string/title_activity_view_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExtendedCreateProfileActivity"
            android:label="Your Bio" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ImageListActivity"
            android:label="Your Images" />

        <service android:name=".IcebreakerMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FacebookAlbumListActivity"
            android:label="Facebook Albums" />
        <activity
            android:name=".FacebookImageListActivity"
            android:label="Album Images" />
        <activity android:name=".UsersViewRecyclerActivity" />
        <activity
            android:name=".QRScanActivity"
            android:label="Scan QR Code" />
        <activity android:name=".AttachmentListActivity" />
        <activity android:name=".ChallengeListActivity"
            android:label="Send a Challenge"/>
        <activity android:name=".ChallengeViewActivity"
            android:label="View Challenge"></activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".EditProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:parentActivityName=".HomeActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".PubActivity"
            android:label="@string/title_activity_pub"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>